<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>live view - Shopper sizer</title>
  <link rel="stylesheet" type="text/css" href="bundle.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
  <div class="app">
    <a href="chartview.htm" class="btn btn-info" v-show="loggedIn">admin</a>
    <a href="stats.html" class="btn btn-info">statestik</a>

    

      <button class="login-popup" v-on:click="loginPopup">Login</button>

    <div class="form-popup" id="myForm">
        <h1>Login</h1>
        
        <input type="text" placeholder="Username" v-model="username">

        <input type="password" placeholder="Password" v-model="password">

        <button type="submit" class="login-button" v-on:click="login">Login</button>
    </div>

    <div v-show="publicStatus">
      <div id="header">
        <h1>Live View</h1>
      </div>
      <div class="store">
        <p>Storename</p>
      </div>
      <div class="row" id="wrapper">
        <div class="col-sm-6">
          <p class="live-number">{{liveNumber}}</p>
          <p class="live-text">Antal kunder</p>
        </div>
        <div class="col-sm-6">
          <p class="live-number" v-bind:style="{color: valueColor}">{{remaining}}</p>
          <p class="live-text">Ledige</p>
        </div>
      </div>
    </div>

    <!-- <button v-on:click="getLiveNumber">refresh</button> -->
  </div>


  <script src="bundle.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>