$fontColor: whitesmoke;
$colorHeading: #be4a14;

body{
}

h2
{
    color: $colorHeading;
}
h1{
    @extend h2;
    text-align: center;
}
.live-number{
    font-size: 14vw;
}
.col-sm-6{
    text-align: center;
}
.live-text{
    font-size: 7vw;
}

#header{
    padding: 2%;
}
#store{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 40px;
}

