$fontColor: whitesmoke;
$colorHeading: #be4a14;

body{
    overflow-x: hidden;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2
{
    color: $colorHeading;
}
h1{
    @extend h2;
    text-align: center;
}
.live-number{
    font-size: 14vw;
}
.col-sm-6{
    text-align: center;
}
.live-text{
    font-size: 7vw;
}

.chart-live{
    font-size: 3vw;
}

#header{
    padding: 2%;
}
.store{
    text-align: center;
    font-size: 3vw;
    margin-bottom: 40px;
}

/* Chart view */
#chartDiv{
}

.form-popup {
    display: none;
    // position: absolute;
    // top: 0;
    // right: 15px;
    float: right;
    max-width: 200px;
    min-width: 100px;
    padding: 10px;
    border: 1px solid black;
}

/* .form-container {
    max-width: 200px;
    min-width: 100px;
    padding: 10px;
    border: 1px solid black;
} */

.form-container input {
    margin-top: 5px;
    margin-bottom: 10px;
}

.login-button {
    margin-left: 60px; 
}

/* .login-popup {
    position: absolute;
    right: 20px;
    top: 20px;
} */
.login-popup{
    float: right;
}
